body {
	margin: 0;
	background-color: #E6E8EB;
}

#blue-div {
	top: 0;
	margin-top: 0;
	background-color: #4267b2;
	height: 32px;
	width: 100%;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #29487d; 
	padding-top: 9px;
	position: fixed;
}

#inner-div {
	margin-right: 2px;
	margin-left: 8.6%;
}

#logo-img {
	float: left;
	cursor: pointer;
	margin-left: -3.5%;
}

#search-form {
	width: 500px;
	margin-left: -1%;
}

.search {
	border: 1px;
	border-radius: 2px;
}

#search-input {
	font-family: "Helvetica";
	font-size: 0.9em;
	width: 80%;
	padding-left: 7px;
	height: 23px;
	background-color: #fff;
}

#search-button {
	position: absolute;
	cursor: pointer;
	width: 3%;
	margin-left: -25px;
	height: 25px;
	background-color: #f6f7f9;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#search-button:hover {
	background-color: #edeff5;
}

.right-side {
	float: right;
	margin-top: -25px;
}

.border-div {
	width: 1px;
	height: 18px;
	border-left: 1px solid #23232333;
	margin-top: -22px;
}

.prof-pic {
	border-radius: 25px;
}

#prof-pic-top {
	margin-right: 45%;
}

.bar-text {
	font-family: "Helvetica";
	color: #fff;
	font-size: 12px;
	margin-top: -21px;
}

#name-span {
	margin-right: 42.5%;
}

#border-div-0 {
	margin-right: 41.5%; 
}

#home-span {
	margin-right: 38%;
}

#friends-logo {
	margin-right: 33%;
}

#mess-logo {
	margin-right: 30.5%;
}

#notif-logo {
	margin-right: 28%;
}

#border-div-1 {
	margin-right: 26.5%;
}

#help-logo {
	margin-right: 23.5%;
}

#down-arrow {
	margin-right: 22%;
	margin-top: -23px;
}

img.right-side {
	opacity: 0.8;
}

.right-side:hover {
	opacity: 1;
	cursor: pointer;
}

.fb-body {
	padding-top: 12px;
	margin-top: 42px;	
}

.left-part {
	width: 19%;
	float:left;
}

.middle-part {
	width: 38%;
	position: absolute;
	margin-left: 19%;
	height: 100px;
	background-color: #00ff00;
}

.right-part {
	width: 27%;
	position: absolute;
	margin-left: 57%;
	position: fixed;
}

.chat-div {
	width: 16%;
	position: absolute;
	margin-left: 84%;
	height: 100px;
	background-color: #000000;
	position: fixed;
}

ul {
	list-style-type: none;
}

#left-ul {
	font-family: "Helvetica";
	font-size: 13px;
	margin-top: 0;
}

a {
	text-decoration: none;
  display: block;
  color: black;
}

.left-part-item {
	text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
	padding: 6px 4px;
	width: 170px;
	height: 15px;
	margin-left: 30px;
	border: 1px solid #E6E8EB;
}

.left-part-item:hover {
	background-color: #f6f7f9;
	border-color: #dddfe2;
	border-radius: 2px;
}

#prof-pic-left {
  float: left;
}

.left-icon {
	margin-right: 6px;
	margin-top: -2px;
	float: left;
	background-image: url(../imgs/icons.png);
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
}

.grey-header {
	padding: 6px 4px;
	width: 170px;
	height: 15px;
	margin-left: 30px;
	font-weight: 600;
	color: #616770;
	font-size: 13px;
	font-family: "Helvetica";
}

.section-end {
	margin-bottom: 13px;
}

#news-feed-icon {
	background-position: 0 -1111px;
}

#messenger-icon {
	background-position: 0 -796px;
}

.active {
	font-weight: bold;
	background-color: #f6f7f9;
	border-color: #dddfe2;
	border-radius: 2px;
}

#group0-icon {
	background-position: 0 -1468px;
}

#group1-icon {
	background-position: 0 -985px;
}

#group2-icon {
	background-image: url(../imgs/icons_1.png);
	background-position: 0 -378px;
}

#events-icon {
	background-image: url(../imgs/icons_2.png);
	background-position: 0px -105px;
}

#pages-icon {
	background-position: 0px -1216px;
}

#on-this-day-icon {
	background-position: 0px -1195px;
}

#photos-icon {
	background-position: 0px -1300px;
}

#friend-lists-icon {
	background-position: 0px -1132px;
}

#manage-apps-icon {
	background-image: url(../imgs/icons_1.png);
	background-position: 0px -63px;
}

#pages-feed-icon {
	background-position: 0px -1237px;
}

#saved-icon {
	background-position: 0px -1342px;
}

#games-icon {
	background-position: 0px -901px;
}

.see-more {
	padding: 6px 4px;
	width: 170px;
	height: 15px;
	margin-left: 37px;
	color: #365899;
	font-family: "Helvetica";
	font-size: 13px;
}

.see-more:hover {
	text-decoration: underline;
}

.down-icon {
	color: grey;
	margin-right: 12px;
}

#left-part-create-li {
	margin-left: 33px;
	margin-top: 5px;
}

.create {
	margin-left: 2px;
	margin-right: 2px;
	float: left;
	color: #365899;
}

.create:hover {
	text-decoration: underline;
}

#stories-div {
	width: 284px;
	height: 241px;
	padding: 12px;
	background-color: #fff;
	border: 1px solid #dddfe2;
	border-radius: 3px;
}

#stories-header {
	margin-left: 0;
	padding: 0;
	margin-bottom: 12px;
}

.dots-icon {
	background-image: url(../imgs/icons_3.png);
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	float: right;
	background-position: -21px -180px;
	margin-right: -115px;
	margin-top: -2px;
}

.my-day-image {
	width: 48px;
	height: 48px;
	border: 2px solid #4080ff;
	border-radius: 50%;
	padding: 2px;
	float: left;
}

.my-day-text {
	font-family: "Helvetica";
	font-size: 13px;
	margin-left: 65px;
	padding-top: 10px;
}

.my-day-name {
	color: #365899;
	font-weight: 600;
}

.my-day-time {
	color: #90949c;
	margin-top: 3px;
	font-weight: 400;
}

.my-day-section {
	margin-bottom: 17px;
}

#my-day-see-more {
	margin-left: 0;
}