body {
	margin: 0;
	background-color: #E6E8EB;
}

#blue-div {
	margin-top: 0;
	background-color: #4267b2;
	height: 32px;
	width: 100%;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #29487d; 
	padding-top: 9px;
}

#inner-div {
	margin-right: 2px;
	margin-left: 6%;
}

#logo-img {
	float: left;
	cursor: pointer;
}

#search-form {
	width: 500px;
	margin-left: 32px;
}

.search {
	border: 1px;
	border-radius: 2px;
}

#search-input {
	font-family: "Lucida Grande";
	font-size: 0.9em;
	width: 80%;
	padding-left: 7px;
	height: 23px;
	background-color: #fff;
}

#search-button {
	position: absolute;
	cursor: pointer;
	width: 3%;
	margin-left: -25px;
	height: 25px;
	background-color: #f6f7f9;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#search-button:hover {
	background-color: #edeff5;
}

.right-side {
	float: right;
	margin-top: -25px;
}

.border-div {
	width: 1px;
	height: 18px;
	border-left: 1px solid #23232333;
	margin-top: -22px;
}

#prof-pic {
	border-radius: 25px;
	margin-right: 45%;
}

.bar-text {
	font-family: "Helvetica";
	color: #fff;
	font-size: 12px;
	margin-top: -21px;
}

#name-span {
	margin-right: 42.5%;
}

#border-div-0 {
	margin-right: 41.5%; 
}

#home-span {
	margin-right: 38%;
}

#friends-logo {
	margin-right: 33%;
}

#mess-logo {
	margin-right: 30.5%;
}

#notif-logo {
	margin-right: 28%;
}

#border-div-1 {
	margin-right: 26.5%;
}

#help-logo {
	margin-right: 23.5%;
}

#down-arrow {
	margin-right: 22%;
	margin-top: -23px;
}

img.right-side {
	opacity: 0.8;
}

.right-side:hover {
	opacity: 1;
	cursor: pointer;
}

.fb-body {
	
}

.left-part {
	width: 19%;
	float:left;
}

.middle-part {
	width: 38%;
	position: absolute;
	margin-left: 19%;
	height: 100px;
	background-color: #00ff00;
}

.right-part {
	width: 27%;
	position: absolute;
	margin-left: 57%;
	height: 100px;
	background-color: #0000ff;
}

.chat-div {
	width: 16%;
	position: absolute;
	margin-left: 84%;
	height: 100px;
	background-color: #000000;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
  display: block;
  color: black;
}