body {
	margin: 0;
}

#blue-div {
	margin-top: 0;
	background-color: #4267b2;
	height: 34px;
	width: 100%;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #29487d; 
	padding-top: 9px;
}

#inner-div {
	margin-right: 2px;
	margin-left: 6%;
}

#logo-img {
	float: left;
}

#search-form {
	width: 500px;
	margin-left: 32px;
}

.search {
	border: 1px;
	border-radius: 2px;
}

#search-input {
	width: 80%;
	padding-left: 7px;
	height: 24px;
	background-color: #fff;
}

#search-button {
	width: 8%;
	margin-left: -25px;
	height: 26px;
	background-color: #f6f7f9;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#search-button:hover {
	background-color: #edeff5;
}