body {
	margin: 0;
}

#blue-div {
	margin-top: 0;
	background-color: #4267b2;
	height: 32px;
	width: 100%;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #29487d; 
	padding-top: 9px;
}

#inner-div {
	margin-right: 2px;
	margin-left: 6%;
}

#logo-img {
	float: left;
}

#search-form {
	width: 500px;
	margin-left: 32px;
}

.search {
	border: 1px;
	border-radius: 2px;
}

#search-input {
	width: 80%;
	padding-left: 7px;
	height: 23px;
	background-color: #fff;
}

#search-button {
	width: 8%;
	margin-left: -25px;
	height: 25px;
	background-color: #f6f7f9;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#search-button:hover {
	background-color: #edeff5;
}

.right-side {
	float: right;
	margin-top: -25px;
}

.border-div {
	width: 1px;
	height: 18px;
	border-left: 1px solid #23232333;
	margin-top: -22px;
}

#prof-pic {
	border-radius: 25px;
	margin-right: 45%;
}

.bar-text {
	color: #fff;
	font-size: 13px;
	margin-top: -21px;
}

#name-span {
	margin-right: 42.2%;
}

#border-div-0 {
	margin-right: 41.3%; 
}

#home-span {
	margin-right: 37.7%;
}

#friends-logo {
	margin-right: 33%;
}

#mess-logo {
	margin-right: 30.5%;
}

#notif-logo {
	margin-right: 28%;
}

#border-div-1 {
	margin-right: 26.5%;
}

#help-logo {
	margin-right: 23.5%;
}

#down-arrow {
	margin-right: 22%;
	margin-top: -23px;
}


.right-side:hover {
}